:root {
  --family: system-ui, Inter, Avenir, Helvetica, Arial, sans-serif;
  --rounded-family: SF Pro Rounded, "ui-rounded", system-ui;

  font-family: var(--family);
  font-weight: 400;
  font-size: 14px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--base--bg-primary);
  color: var(--base--text);
}

#app {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content 1fr;
  min-height: 100%;
  width: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
